/vtechie-model/target
/vtechie-service/target
/vtechie-webapp/target
/vtechie-model/.project
/vtechie-service/.project
/vtechie-webapp/.project
/vtechie-model/.classpath
/vtechie-service/.classpath
/vtechie-webapp/.classpath